<a href="https://colab.research.google.com/github/anicelysantos/minicurso-analise-de-dados/blob/main/Introdu%C3%A7%C3%A3o_ao_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Pandas - "A melhor biblioteca do Python para Dados"**

- Quase sempre que for trabalhar com dados no Python voc√™ vai usar o pandas, ent√£o √© importante saber trabalhar com essa biblioteca muito bem
- Aqui colocarei os principais comandos e os princ√≠pios b√°sicos do Pandas.

As base de dados que usei: [Vendas](/content/drive/MyDrive/dados_pandas/Gerentes.xlsx), [Vendas - Dez](https://drive.google.com/file/d/1pZaMUTRrmP3ZLA_DvSbnPGJgo2UsX8A_/view?usp=sharing), [Gerentes](https://drive.google.com/file/d/10Q9LcTyliRJ1af0F3TGXUmVQFPiR5TAq/view?usp=sharing)

**Importando o pandas**

In [1]:
import pandas as pd

**Criando um dataframe a partir de um dicion√°rio**

In [6]:
venda = {'data': ['15/02/2021','16/02/2021'],
         'valor': [500,300],
         'produto':['feij√£o','arroz'],
         'qtde': [50,70],
         }
vendas_df = pd.DataFrame(venda)

**Visualiza√ß√£o dos Dados**
- **print:** apresenta as informa√ß√µes sem tabulada sem estilo
- **display:** aprensenta as informa√ß√µes mais estilizada na tabela

In [7]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feij√£o    50
1  16/02/2021    300   arroz    70

**Importando arquivos e bases de dados**

In [57]:
#Importei uma base de dados em excel que est√° no meu drive
vendas_df = pd.read_excel('/content/drive/MyDrive/dados_pandas/Vendas.xlsx')
vendas_df.head()

   C√≥digo Venda       Data  ... Valor Unit√°rio Valor Final
0             1 2019-01-01  ...            358         358
1             1 2019-01-01  ...            180         360
2             1 2019-01-01  ...            368         368
3             2 2019-01-02  ...            200         600
4             2 2019-01-02  ...             71          71

[5 rows x 7 columns]

**Resumos de visualiza√ß√£o de Dados simples e √∫teis**
- **head:** mostra as 5 primeiras linhas ou a quantidade informada por parametro
- **shape:** mostra a quantidade total de linhas e colunas que contem. 
- **describe:** Mostra um resumo estat√≠stico das colunas num√©ricas

In [19]:
vendas_df.shape

(93910, 7)

In [ ]:
vendas_df.describe()

**Edi√ß√£o de um dataframe**<br>
Pegar 1 coluna (e os pd.Series)

In [ ]:
produtos = vendas_df[['Produto', 'ID Loja']]
produtos

**.loc, um m√©todo muito importante**
Esse m√©todo olha sempre os √≠ndices

- Pegar 1 linha

In [ ]:
vendas_df.loc[0] #Passa o √≠ndice por parametro

In [ ]:
vendas_df.loc[1:5] #Pega um √≠ndice da linha 1 at√© a linha 5

- Pegar linhas de acordo com alguma condi√ß√£o

In [ ]:
#Aqui eu peguei uma coluna e disse qual conte√∫do da coluna eu quero que traga 
#(Da coluna ID Loja traga todas as linhas iguais a Norte Shopping)

vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']

vendas_norteshopping_df

- Pegar linhas e colunas espec√≠ficas: O loc permite n√£o apenas filtrar por linhas, mas por colunas tamb√©m

In [ ]:
#Fiz a mesma coisa de antes, s√≥ passando as colunas que eu queria relacionado ao
#Norte Shopping.

vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto','Quantidade']]
vendas_norteshopping_df

- Pegar 1 valor espec√≠fico

In [42]:
#Sintaxe vendas_df.loc[linha,coluna]

vendas_df.loc[1,'Produto']

'Cinto Linho'

**Adicionar 1 coluna**
 - **A partir de uma coluna que j√° existe:** Como exemplo vou criar uma coluna chamada *comiss√£o do vendedor* que vai conter o valor final multiplicado por 0,05 (5%)

In [ ]:
vendas_df['Comiss√£o'] = vendas_df['Valor Final'] * 0.05
vendas_df

 - **Criar uma nova com valores padr√£o**

In [ ]:
#O : quer dizer pra preencer todas as linhas da coluna imposto
vendas_df.loc[:,'Imposto'] = 0
vendas_df

**Adicionar uma linha**<br>
Vou adicionar linhas a partir de um dataframe:
1. Primeiro importei o arquivo com o conteudo que eu quero incluir

In [ ]:
vendas_dez_df = pd.read_excel('/content/drive/MyDrive/dados_pandas/Vendas - Dez.xlsx')
vendas_dez_df

2. Adicionei o conteudo que importei usando `append()`

In [ ]:
vendas_df = vendas_df.append(vendas_dez_df)
vendas_df

**Excluir linhas e colunas**

In [ ]:
#Como parametro no drop passa a coluna e depois o eixo sendo 0 pra linha e 1 pra coluna
vendas_df = (vendas_df.drop('Imposto', axis=1))
vendas_df

**Valores Vazios**
- Deletar linhas/colunas vazias

In [ ]:
#O parametro "how=all" exclui linhas completamente vazias. Caso eu tamb√©m queria
#a coluna eu passo o parametro axis=1
vendas_df = vendas_df.dropna(how='all')

- Deletar linhas que possuem valores vazios

In [ ]:
vendas_df.dropna()

- Preencher valores vazios com m√©dia ( `mean()`)
  
  - `fillna()`: todo parametro passado dentro ser√° o conte√∫do que preencher√° as linhas vazias coluna.

In [ ]:
#"mean()" tr√°s a m√©dia da coluna. No exemplo eu estou pedindo pra preencher os
#espa√ßos em brancos da coluna comiss√£o com a m√©dia do conteudo da coluna

vendas_df['Comiss√£o'] = vendas_df['Comiss√£o'].fillna(vendas_df['Comiss√£o'].mean())
vendas_df

 - Preencher com o √∫ltimo valor<br>
 Equivale a mesma coisa do excel que pega o ultimo valor preenchido e arrasta pra baixo copiando para as c√©lulas sem conte√∫do

In [ ]:
vendas_df = vendas_df.ffill()

**Calcular indicadores**
 - Groupby

In [ ]:
#Agrupar produtos e apresente a soma da coluna de todas as outras colunas n√∫mericas
faturamento_produto = vendas_df.groupby('Produto').sum()
faturamento_produto

In [ ]:
#Agrupar colunas espec√≠ficas
faturamento_produto = vendas_df[['Produto','Valor Final']].groupby('Produto').sum()
faturamento_produto

- Values Counts (`value_counts`)

In [ ]:
#Quero transa√ß√µes eu tive por loja

transacoes_loja = vendas_df = vendas_df['ID Loja'].value_counts()
transacoes_loja

**Mesclar 2 dataframes (Procurar informa√ß√µes de um dataframe em outro)**<br>
Esse m√©todo √© semelhante ao *procv* do excel

In [ ]:
#Vou importar a tabela gerentes

gerentes_df = pd.read_excel('/content/drive/MyDrive/dados_pandas/Gerentes.xlsx')
gerentes_df

Preciso saber quem √© o gerente de cada loja, vou ter que adicionar uma coluna na tabela original fazendo uma procura para que ele localize a loja correta

In [ ]:
vendas_df = vendas_df.merge(gerentes_df)
vendas_df

E como dia o Professor Fernando Masanori "N√£o √© m√°gica, √© pandas!" üêº